.modal ::-webkit-scrollbar {
	width: 5px;
}

.modal {
	padding: 30px;
	position: fixed;
	top: 50%;
	left: 50%;
	display: none;
	max-height: 500px;
	max-width: 420px;
	flex-direction: column;
	gap: 20px;
	min-width: 200px;
	text-align: center;
	background: var(--white);
	border-radius: 20px;
	z-index: 1000;
}

.modal .text {
	overflow-y: scroll
}

.modal.active {
	display: flex;
	animation: modalactive .4s ease-in-out forwards;
}

.modal .text {
	margin-bottom: 40px;
	word-wrap: break-word;
}

.modal-bg {
	position: fixed;
	top: 0;
	left: 0;
	display: none;
	min-width: 100%;
	min-height: 100%;
	background: rgba(0, 0, 0, 0.5);
	z-index: 999;
}

.modal-bg.active {
	display: block;
	animation: modalbackroundactive .4s ease-in-out forwards;
}

@keyframes modalbackroundactive {
	0% {
		opacity: 0;
	}
	100% {
		opacity: 0.9;
	}
}

@keyframes modalactive {
	0% {
		transform: translate(-50%, -50%) scale(0);
	}
	100% {
		transform: translate(-50%, -50%) scale(1);
	}
}

@media (max-width: 418px) {
	.modal {
		max-width: 320px;
	}
}