
.login {
	position: relative;
	padding: 80px 0;
	overflow: hidden;
}

.login .title span {
	display: block;
	font-size: 4.9vh;
	font-weight: 400;
}

.login-flex {
	display: flex;
	flex-wrap: wrap;
	align-items: center;
	justify-content: space-evenly;
	gap: 50px;
}

.login__form {
	padding: 30px;
	display: flex;
	justify-content: center;
	align-items: center;
	flex-direction: column;
	background: var(--white);
	border-radius: 15px;
	box-shadow: 0 0 10px rgba(0, 0, 0, 0.25);
	z-index: 10;
}

.login__form .subtitle {
	position: relative;
}

.login__form .subtitle::before,
.login__form .subtitle::after {
	content: "";
	position: absolute;
	display: block;
	width: 90px;
	height: 3px;
	background: var(--several-color);
}

.login__form .subtitle::before {
	top: 46%;
	left: -108px;
}

.login__form .subtitle::after {
	top: 46%;
	right: -108px;
}

.login__input {
	margin: 10px 0;
	width: 100%;
}

.login__input input {
	padding: 0 35px;
	width: 100%;
	height: 42px;
	color: var(--several-color);
	background: var(--light-gray-accent);
	border-radius: 30px;
	border: 1px solid var(--light-gray-border);
}

.login .btn {
	margin-top: 20px;
}

.login .binary-animation:nth-child(1) {
	top: 20%;
	left: 40%;
}

.login .binary-animation:nth-child(2) {
	top: 30%;
	left: 13%;
}

.login .binary-animation:nth-child(3) {
	top: 60%;
	left: 45%;
}

.login .binary-animation:nth-child(4) {
	top: 68%;
	left: 15%;
}

.login .binary-animation:nth-child(5) {
	top: 80%;
	left: 35%;
}

.login .binary-animation:nth-child(2),
.login .binary-animation:nth-child(3),
.login .binary-animation:nth-child(5) {
	background: linear-gradient(90deg, rgba(62, 61, 61, 0.1) 0%, rgba(78, 77, 77, 0.1) 32%, #504E4E 63%, rgba(82, 78, 78, 0.3) 95%);
	background-clip: text;
	-webkit-background-clip: text;
	background-size: 500%;
	-webkit-text-fill-color: transparent;
}

.login .binary-animation:nth-child(1),
.login .binary-animation:nth-child(4) {
	background: linear-gradient(90deg, #74FBA2 28%, rgba(116, 251, 162, 0.5) 54%, rgba(116, 251, 162, 0.3) 80%, rgba(116, 251, 162, 0.1) 100%);
	background-clip: text;
	-webkit-background-clip: text;
	background-size: 500%;
	-webkit-text-fill-color: transparent;
}