/* fonts */
@font-face {
	font-family: "Poppins";
	src: url("assets/fonts/Poppins-Regular.ttf");
}

@font-face {
	font-family: "Poppins";
	src: url("assets/fonts/Poppins-Medium.ttf");
	font-weight: 500;
}

@font-face {
	font-family: "Poppins";
	src: url("assets/fonts/Poppins-Bold.ttf");
	font-weight: 700;
}

/* reset */
* {
	padding: 0;
	margin: 0;
	box-sizing: border-box;
}

a {
	color: inherit;
	text-decoration: none;
}

ul li {
	list-style: none;
}

button {
	border: none;
	outline: none;
}

input,
textarea {
	font-family: inherit;
	font-size: 1em;
	outline: none;
	border: none;
}

label {
	font-family: inherit;
	font-size: 1em;
}

/* variables */
:root {
	--several-color: #fff;
	--dark-bg: #162431;
	--blue-bg: linear-gradient(153deg, rgba(116,218,255,1) 0%, rgba(42,164,242,1) 95%);
	--input-error: #ff2e41;
}

/* several styles */
html,
body {
	width: 100%;
	min-height: 100vh;
	color: var(--several-color);
	font: 1em/1.6 "Poppins", sans-serif;
	background: var(--blue-bg);
}

/* content, header, main, footer */
.wrapper {
	display: flex;
	flex-direction: column;
	min-height: 100vh;
	overflow: hidden;
}

.content {
	flex: 1 1 0;
}

.container {
	padding: 0 20px;
	margin: 0 auto;
	max-width: 1440px;
}

.btn {
	width: 235px;
	height: 54px;
	font-weight: 700;
	color: var(--dark-bg);
	font-size: inherit;
	background: var(--several-color);
	border: 1px solid var(--several-color);
	border-radius: 4px;
	transition: background .3s ease, color .3s ease;
	cursor: pointer;
}

.btn:hover {
	color: var(--several-color);
	background: transparent;
}

.link-exit {
	font-weight: 700;
	transition: color .3s ease;
}

.link-exit:hover {
	color: #47a6ff;
}

.title {
	text-align: center;
	font-size: 6vh;
}

.header,
.footer {
	padding: 20px 0;
	background: var(--dark-bg);
}

.header-flex {
	display: flex;
	align-items: center;
	flex-wrap: wrap;
	justify-content: space-between;
	gap: 20px;
}

.header-flex__elem {
	display: flex;
	align-items: center;
	gap: 30px;
}

.header-flex__elem .text {
	font-weight: 700;
	opacity: .7;
}

.logo img {
	width: 160px;
}

.login {
	padding: 200px 0;
	animation: showCubic .9s ease forwards;
}

.exercise {
	padding: 50px 0 100px 0;
}

.exercise .title {
	font-size: 5.5vh;
}

@keyframes showCubic {
	0% {
		background: url("./assets/images/cubic_top.png") no-repeat right -300px top, url("./assets/images/cubic_button.png") no-repeat right -300px bottom;
	}
	100% {
		background: url("./assets/images/cubic_top.png") no-repeat right -50px top, url("./assets/images/cubic_button.png") no-repeat right 280px bottom;
	}
}

.login-flex {
	display: flex;
	flex-wrap: wrap;
	align-items: center;
	justify-content: space-evenly;
	gap: 50px;
}

.login__form {
	display: flex;
	justify-content: center;
	align-items: center;
	flex-direction: column;
}

.login__form,
.exercise-form,
.exercise-box__body-text {
	padding: 30px;
	background: transparent;
	border: 2px solid rgba(255, 255, 255, 0.5);
	border-radius: 20px;
	backdrop-filter: blur(15px);
}

.login__input {
	margin: 20px 0;
	position: relative;
	border-bottom: 2px solid var(--several-color);
}

.login__input label {
  position: absolute;
  top: 50%;
  left: 5px;
  color: var(--several-color);
  transform: translateY(-50%);
  pointer-events: none;
  transition: .5s;
}

.login__input input:focus ~ label,
.login__input input:valid ~ label {
  top: -5px;
}

.login__input input {
  padding: 0 35px 0 5px;
  height: 50px;
  color: var(--several-color);
  background: transparent;
}

.login__input .btn {
  margin-top: 20px;
}

.exercise-box__body-text:nth-child(2) {
	padding: 30px 6em;
}

.exercise-box__body-text:nth-child(2) .text {
	text-align: center;
   word-wrap: break-word;
}

.exercise-page {
	animation: showCubic .9s ease forwards;
}

.exercise-flex {
	margin-top: 40px;
	display: flex;
	flex-wrap: wrap;
	justify-content: space-between;
	gap: 20px;
}

.exercise-flex__elem {
	padding: 20px;
	display: flex;
	flex-direction: column;
	justify-content: space-between;
	width: 360px;
	min-width: 200px;
	text-align: center;
	color: var(--dark-bg);
	background: var(--several-color);
	box-shadow: 0 0 10px rgba(0, 0, 0, 0.5);
	border-radius: 6px;
	transition: box-shadow .3s linear;
}

.exercise-flex__elem:hover {
  box-shadow: 0 0 25px rgba(0, 0, 0, 0.5);
}

.exercise-flex__elem .title {
  font-size: 3.5vh;
}

.exercise-flex__elem .text:hover {
  text-decoration: underline;
}

.exercise-box {
	margin-top: 40px;
	display: flex;
	flex-direction: column;
	gap: 20px;
}

.exercise-form {
	display: flex;
	flex-wrap: wrap;
	row-gap: 20px;
}

.exercise-form-prewin {
	flex-direction: column;
	align-items: center;
}

.exercise-input {
	margin-right: 10px;
	display: flex;
	justify-content: space-between;
	align-items: center;
	width: 100px;
}

.exercise-input label {
  font-weight: 700;
}

.prewin-input {
	width: 100%;
}

.word-input {
	width: 70px;
}

.prewin-input,
.word-input {
	padding: 10px;
	border-radius: 4px;
}

.win-text {
	width: 100%;
	text-align: center;
}

.button-container {
	display: flex;
	justify-content: space-between;
	flex-wrap: wrap;
	gap: 20px;
	width: 100%;
}

@media (max-width: 1160px) {
	.exercise-flex {
		justify-content: center;
	}
}

@media (max-width: 594px) {
	.button-container {
		justify-content: center;
	}
}

@media (max-width: 418px) {
	.header-flex {
		justify-content: center;
	}
}