/* fonts */
@font-face {
	font-family: "Poppins";
	src: url("assets/fonts/Poppins-Regular.ttf");
}

@font-face {
	font-family: "Poppins";
	src: url("assets/fonts/Poppins-Medium.ttf");
	font-weight: 500;
}

@font-face {
	font-family: "Poppins";
	src: url("assets/fonts/Poppins-Bold.ttf");
	font-weight: 700;
}

/* reset */
* {
	padding: 0;
	margin: 0;
	box-sizing: border-box;
}

img {
	display: block;
}

a {
	color: inherit;
	text-decoration: none;
}

ul li {
	list-style: none;
}

button {
	border: none;
	outline: none;
}

input,
textarea {
	font-family: inherit;
	font-size: 1em;
	outline: none;
	border: none;
}

input:disabled {
	cursor: not-allowed;
}

input:-webkit-autofill,
input:-webkit-autofill:focus {
   transition: background-color 0s 600000s, color 0s 600000s;
}

label {
	font-family: inherit;
	font-size: 1em;
}

::-webkit-scrollbar {
	width: 8px;
}

::-webkit-scrollbar-thumb {
	background: var(--light-gray);
	border-radius: 8px;
}

::-webkit-scrollbar-thumb:hover {
	background: var(--light-medium-gray);
}

/* variables */
:root {
	--white: #fff;
	--several-color: #333;
	--dark-gray: #7d7d7d;
	--input-error: #ff2e41;
	--light-gray: #ccc;
	--light-gray-border: #C1C1C1;
	--light-gray-accent: #eee;
	--light-medium-gray: #b5b5b5;
	--contrast-color: #3FDE75;
	--green-light: #7eeaa2;
}

/* several styles */
html,
body {
	width: 100%;
	min-height: 100vh;
	color: var(--several-color);
	font: 1em/1.6 "Poppins", sans-serif;
}

.container {
	padding: 0 20px;
	margin: 0 auto;
	max-width: 1440px;
}

.cross {
	position: relative;
	align-self: flex-end;
	width: 24px;
	height: 24px;
	cursor: pointer;
}

.cross:hover {
	transform: scale(1.1);
}

.cross span {
	position: relative;
	display: block;
	top: 0;
	left: 10px;
	width: 2px;
	height: 24px;
	background: var(--several-color);
	border-radius: 2px;
	transform: rotate(-45deg);
}

.cross span::before {
	content: "";
	position: absolute;
	top: 0;
	left: 0;
	display: block;
	width: 2px;
	height: 24px;
	background: var(--several-color);
	border-radius: 2px;
	transform: rotate(90deg);
}

.btn {
	width: 274px;
	height: 42px;
	font-weight: 700;
	color: var(--white);
	font-size: inherit;
	background: var(--several-color);
	border: 1px solid var(--several-color);
	border-radius: 15px;
	transition: background .3s ease, color .3s ease;
	cursor: pointer;
}

.btn:hover {
	color: var(--several-color);
	background: transparent;
}

.btn:disabled {
	opacity: 0.6;
	cursor: not-allowed;
}

.btn:disabled:hover {
	color: var(--white);
	background: var(--several-color);
} 

.title {
	text-align: center;
	font-size: 6vh;
}

.binary-animation {
	position: absolute;
	font-size: 3vh;
	letter-spacing: 5px;
	animation: animate 7s ease-in infinite;
	user-select: none;
	z-index: -1;
}

@keyframes animate {
	0% {
		background-position: 0%;
	}
	60% {
		background-position: 100%;
	}
	100% {
		background-position: 0%;
	}
}

.exercise {
	padding: 40px 0 100px 0;
}

.button-container {
	display: flex;
	justify-content: space-between;
	flex-wrap: wrap;
	gap: 20px;
	width: 100%;
}

.exercise-flex__elem:nth-child(1) {
	background-image: url("../public/assets/images/task_01.png");
	background-position: 90px 56px;
}

.exercise-flex__elem:nth-child(2) {
	background-image: url("../public/assets/images/task_02.png");
	background-position: 90px 62px;
}

.exercise-flex__elem:nth-child(3) {
	background-image: url("../public/assets/images/task_03.png");
	background-position: 70px 48px;
}

.exercise-flex__elem:nth-child(4) {
	background-image: url("../public/assets/images/task_04.png");
	background-position: 100px 68px;
}

.exercise-flex__elem:nth-child(5) {
	background-image: url("../public/assets/images/task_05.png");
	background-position: 95px 65px;
}

.exercise-flex__elem:nth-child(6) {
	background-image: url("../public/assets/images/task_06.png");
	background-position: 95px 65px;
}

@media (max-width: 765px) {
	.binary-animation {
		display: none;
	}
}

@media (max-width: 594px) {
	.button-container {
		justify-content: center;
	}

	.title {
		font-size: 5vh;
	}
}